# deps (виключити будь-де)
**/node_modules/**

# Android build junk
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/local.properties

# iOS build junk (якщо є)
ios/Pods/
ios/build/

# Expo/Metro caches
.expo/
.expo-shared/
dist/
build/
web-build/
coverage/
tmp/
temp/

# VCS/IDE
.git/
.git/**
.gitignore
.vscode/
.idea/
.DS_Store

# Важкі бінарники/бекупи, які не потрібні для збірки
*.jks
*.keystore
*.zip
*.jar
*.7z
*.rar
*.apk
*.aab
*.ipa
*.xcarchive
*.dSYM.zip
*.bak
*OLD*
*bak.jks

# Маркетингові матеріали / документи
marketing/**
screenshots/**
docs/**
**/*.psd
**/*.ai
**/*.sketch
**/*.pdf

